<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- config target class that are having primary logics -->

<bean id="bankser" class="com.nt.beans.BankServiceTargetClass"></bean>

<!-- config advice class having secondry logics with action plan(advice) -->

<bean id="permon" class="com.nt.beans.PerformanceMonitoringAdvice"></bean>

<!-- config proxy class -->

<bean id="proxyclass" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="target" ref="bankser"/>
<property name="interceptorNames">
<array>
<value>permon</value>
</array>
</property>
</bean>

</beans>
