<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire-candidates="corier1" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id="corier1" class="com.nt.courier.Dtdc" autowire-candidate="default"/>
<bean id="corier2" class="com.nt.courier.BlueDart" autowire-candidate="false"/>

<bean id="amzn" class="com.nt.Amazon.Amazon" autowire="byType" />
</beans>
